<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>@ViewBag.poke</p>
    @foreach(KeyValuePair<string, object> entry in ViewBag.poke)
    {
        <p>@entry.Key:@entry.Value</p>
    }
</body>
</html>